@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.campo-grupo {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
}

.dinamico-item {
    margin-top: 5px;
}

input {
    width: 250px;
    padding: 10px 20px;
    padding-left: 25px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.307);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 15px 35px;
    border-radius: 5px;
    width: 100%;
    background-color: #1988ff;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.5s;
    margin: 2px;
}

button:hover {
    transition: 0.5s;
    background-color: #005dc1;
}


select {
    border-radius: 5px;
    width: 30%;
    padding: 15px 25px;
    margin-bottom: 20px;
}

#tipoFalla {
    margin-top: 10px;
}

.mainDivDates {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divDates {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayDias {
    font-size: 75px;
}

.divDates1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p {
    text-align: center;
}

.divPpDXV {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.divPpDXV2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDate {
    border-radius: 5px;
}

.dinamico-item {
    display: flex;
}

.logoTotalplay {
    width: 30%;
}

.labelTipoFalla {
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 25px;
}

#btnCalcularAjuste {
    width: 95%;
    border-radius: 5px;
}

.divSeccionesAdicionalesPromociones {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.dinamico-item button {
    background-color: rgb(255, 79, 79);
}

.dinamico-item input {
    margin: 5px;
    margin-right: 5px;
}

.contenedorPromociones input {
    width: 80%;
}

.contenedorPromociones button {
    width: 20%;
}

.divDates input {
    width: 80%;
}

.divPpDXV2 {
    width: 50%;
}

.divPpDXV2 input {
    width: 80%;
}

.seccionPromociones {
    width: 50%;
}

.seccionAdicionales {
    width: 50%;
}

h4 {
    text-align: center;
    margin-bottom: 5px;
}

#seccionServicios{
    width: 95%;
}

#numServicios{
    margin-top: 10px;
    width: 100%;
}