body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 20px;
    border-radius: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.campo-grupo {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
}

.dinamico-item {
    margin-top: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    margin-right: 10px;
    border-radius: 25px;
    padding-left: 30px;
}

button {
    padding: 15px 35px;
    margin: 5px;
    border-radius: 100px;
    width: 100%;
    background: transparent linear-gradient(260deg, #1988ff, #0a217e) 0 0 no-repeat padding-box;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.5s;
}

button:hover {
    transition: 0.5s;
}


select {
    border-radius: 25px;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
}

#tipoFalla {
    margin-top: 10px;
}

.mainDivDates {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.divDates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayDias {
    font-size: 75px;
}

.divDates1 {
    display: flex;
    justify-content: space-around;
}

p {
    text-align: center;
}

.divPpDXV {
    display: flex;
    justify-content: space-around;
}

.divPpDXV2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDate {
    width: 200px;
    border-radius: 25px;
}

.dinamico-item {
    display: flex;
}

.logoTotalplay {
    width: 50%;
}

.labelTipoFalla{
    margin-top: 20px;
    margin-bottom: 10px;
}

form{
    width: 100%;
}